<div class="text-center">
    <h1 class="font-black mx-auto text-xl pt-5">Contact</h1>
    <div class="mt-5">
        <p>
            Course by: <a href="https://twitter.com/bpaulino0">Bruno Paulino.</a> <br>
            Made by: Daniel Leal
        </p>
    </div>
</div>