<footer class="bg-gray-100 p-5 font-mono absolute bottom-0 w-full text-center border-t border-black ">
    <div class="">
        <ul>
            <li class="text-sm font-black">
                <%= link_to 'Contact', '/get-in-touch' %>
            </li>
            <li class="text-xs">
                <%= link_to 'About', about_path  %>
            </li>
        </ul>
    </div>
</footer>