<header class= "flex justify-end bg-gray-100 font-mono w-full">
    <div class="mr-auto ml-20 font-black mt-6">
        <h1 style="" class="text-xl italic ">
            <%= link_to 'CONTACTLIST', root_path %>
        </h1>
    </div>
    <nav class="mr-20 my-4">
        <a href="#" >Sign In</a>
        <a href="#" ><button class="bg-transparent border rounded border-black hover:border-transparent hover:bg-gray-500 text-black py-2 px-3">Sign Up</button></a>        
    </nav>
</header>

