<header class= "flex justify-end bg-gray-100 font-mono p-5">
    <div class="mr-auto ml-20 font-black py-2">
        <a href="#" class="" >CONTACTLIST</a>
    </div>
    <nav class="mr-20">
        <a href="#" >Sign In</a>
        <a href="#" ><button class="bg-transparent border rounded border-black hover:border-transparent hover:bg-gray-500 text-black py-2 px-4 ml-2">Sign Up</button></a>        
    </nav>
</header>

